body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
}
.top-banner{
    background-image: url(images/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.display-fles{
    display: flex;
    border: 5%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 20px 40px;
    border-radius: 50px;
    font-weight: 700;
}
.padding-top5{
    padding-top: 5%;
}
.about-me{
    background-image: url(images/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.text-center{
    text-align: center;
}

.one-thard-width{
    width: 33%;
    padding-left: 5%;
}
.border-recp{
    border: 15px;
}
.border-recp img{
    width: 300px;
}
.gray-color{
    background-color: rgb(202, 200, 200);
}